/* navigation  */
.edit-userinfo {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.problem-pagination {
    margin-top: 0;
    float: left;
}

.forget-password {
    display: inline-block;
    margin-left: 30px;
    padding: 8px 12px 4px;
}

.contest-nav {
    width: 100%;
    max-width: 500px;
    margin: 10px auto 30px !important;
}

/* content */
.problem-search {
    float: right;
}

@media(max-width:767px) {
  .problem-search,
  .status-filter {
    width: 100%;
  }
}

.table,
.news-content,
.news-summary {
    overflow: hidden;
}

.scrollable-container {
    overflow: scroll;
}

.scrollable-container table {
    max-width: none;
}

.news-summary {
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    height: 10em;
    margin-bottom: 2em;
}
.news-summary:hover {
    height: 11em;
}

div.err-notice {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.contest-info {
    /*font-size: 16px;*/
    text-align: center;
    margin-bottom: 10px;
}

div.contest-info p {
    margin-bottom: 3px !important;
}

.solution-info {
    vertical-align: top;
}

.detail dt {
    text-transform: uppercase;
    font-size: 18px;
}

.detail dd, .readability {
    font-size: 1.465em;
    font-family: "minion-pro-1", "minion-pro-2", "Palatino", Georgia, "Times New Roman", serif;
    line-height: 1.7em;
}

.detail dd {
    margin: 1em 20px 1em;
}

.readability {
    font-size: 1.3em;
}

.navbar {
    margin-bottom: 0;
}
.welcome, .header {
    margin-bottom: 2.5em;
}

.welcome, .header {
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-shadow: black 1px 0 5px;
}

.welcome {
    background-image: url(brand.jpg);
}
.header {
    background-image: url(heading.jpg);
}

.welcome, .header,
.welcome h2, .header h1 {
    color: white;
}

.welcome {
    padding: 5em 0 3em 0;
}
.header {
    padding: 3.5em 0 2.5em 0;
}

.welcome h2,
.header h1 {
    margin: 0;
}

@media(max-width:768px) {
    .welcome, .header {
        background-size: 768px;
    }
}

.fake-hide {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

ul.summary {
    list-style-type: none;
}

ul.summary li {
    margin: 5px auto 5px;
}

.welcome p {
    font-size: 16px;
}

.user-profile p {
    font-size: 14px;
}

.user-profile .basic-info {
    margin-bottom: 20px;
}

.basic-info i {
    margin-right: 7px;
}

.thanks ul li {
    height: 1.7em;
}

#fn-nav {
    text-align: center;
    font-size: 14px;
    margin: 0 auto 18px;
}

#fn-nav li {
    float: none;
    display: inline-block;
    *display: inline; /* for ie7 */
    *zoom: 1; /* for ie7 */
}

form.submit {
    width: 100%;
    max-width: 600px;
    margin: 10px auto 50px;
}

form.submit fieldset {
    width: 70%;
    margin: auto;
}

form.submit textarea {
    display: block;
    width: 100%;
    height: 400px;
}

/* faqs */
.faqs dt.q {
    font-size: larger;
    margin-bottom: 1em;
}

.faqs dt span, #faqs dd .sp-a {
    font-size: 18px;
    font-weight: bold;
}

/*  footer  */

.runtime-info {
    display: none;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

.footer ul li {
    margin: 5px 10px;
    display: inline;
    text-align: center;
}

/* mail list */
.mail-item .mail-title {
    font-size: 20px;
}

/*  admin */
.capitalize {
    text-transform: capitalize;
}

#edit-problem-list {
    list-style: upper-alpha outside;
    margin: 0;
    padding: 0 0 30px 0;
    width: 80%;
}

#edit-problem-list li {
    margin: 0 3px 3px 3px;
    padding: 0.4em 0.4em 0.4em 0.5em !important;
    border: 1px solid #f4a460;
    /*outline: 1px solid #f4a460;*/
}

#edit-problem-list li span {
    float: left;
    margin-left: -0.4em;
}

.edit-link {
    color: #2e8b57;
    margin-right: 10px;
}

.topic h2 {
    display: inline-block;
}

.admin-op {
    float: right;
    vertical-align: bottom;
}

div.user-stats li {
    background-color: #428bca;
    border-radius: 4px;
    padding: 20px;
    height: 100px;
    margin: 20px 5px 5px 5px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

div.user-stats li.accept{
    color: #32cd32;
}

div.user-stats li.failed{
    color: #f0ad4e;
}


.reply-content {
    margin-top: 5px;
    white-space: pre;
    word-wrap: break-word;
}

.reply-header {
    border-bottom: 1px solid darkgrey;
    padding-top: 10px;
    padding-bottom: 7px;
}

.rank-pager li {
    margin-right: 50px;
}

.rank-pager .reflesh a {
    background-color: cornflowerblue;
    color: #ffffff;
}

.rank-pager .reflesh a:hover {
    color: #2a6496;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.readmore {

}

.solved_problems a, .tried_problems a{
    margin: 10px;
}

.navbar {
    border-radius: 0 !important;
}

.double-side-pager {
    margin-left: 15%;
    margin-right: 15%;
}

.title-contest-problem {
    margin: 20px auto 10px;
    font-size: 14px;
    text-align: center;
}

.add-reply textarea {
    width: 100%;
    max-width: 500px;
}

.new-topic {
    width: 100%;
    max-width: 800px;
}

#edit-problem-list a{
    float: right;
    cursor: pointer;
}

.footer > ul {
    padding-left: 0;
}

.clickable {
    cursor: pointer;
}

.pid {
    text-align: center;
    min-width: 4em;
    width: 4em;
}
.ptitle {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.pratio {
    min-width: 4em;
    width: 7em;
}

.urank,
.usolved,
.usubmit {
    text-align: center;
    min-width: 4em;
    width: 4em;
}

.uratio {
    min-width: 4em;
    width: 7em;
}

.unick {
    width: 600px;
}

.unick div {
    word-wrap: break-word;
    max-width: 600px;
}

.colorcol {
    width: 1em;
}

.submit textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4;
}

table a, .table a {
    text-decoration: none;
}

.btn-full {
    width: 100%;
    margin-bottom: 0.5em;
}
